$color_001: #292d32;
$color_002: #eda415;
$color_003: #003f62;
$color_004: #292d32;
$color_005: #a5a5a5;
$color_006: #87bcd9;
$color_007: #2e8fc5;
$color_008: #fff;
$color_009: #000;
$color_010: #e2f4ff;
$color_011: #f4f4f4;
$color_012: #316887;
$color_013: #c33131;
$color_014: #a9a9a9;
$color_015: #797979;
$color_016: #8f8f8f;
$color_017: #272727;
$color_018: #373737;
$color_019: #3a3a3a;
$color_020: #1b5a7d;
$color_021: #606060;
$color_022: #d9d9d9;
$color_022: #adadad;
$color_023: #eaeaea;
$color_024: #bababa;
$color_025: #b6b6b6;
$color_026: #85bad7;
$color_027: #4a4a4a;
$color_028: #d4d4d4;
$color_029: #b3d4e5;
$color_030: #c3c3c3;
$color_031: #232323;
$color_032: #dfdfdf;
$color_033: #afafaf;
$color_034: #2f2f2f;
$color_035: #bdbdbd;
$color_036: #f2f2f2;
$color_037: #c0c0c0;
$color_038: #30bd57;
$color_039: #5d5d5d;
$color_040: #d0ec48;
$color_041: #565656;
$color_042: #434343;
$color_043: #eee;
$color_044: #4f4f4f;
$color_045: #3f3f3f;
$color_046: #1d5f23;
$color_047: #2e56a3;
$color_048: #8131a7;
$color_049: #bc2944;
$color_050: #9bc14c;
$color_051: #acacac;
$color_052: #d9d9d9;
$error_color: #e42424;
$warning_color: yellow;
$succes_color: blue;
