$color_001: #292D32;
$color_002: #EDA415;
$color_003: #003F62;
$color_004: #292D32;
$color_005: #A5A5A5;
$color_006: #87BCD9;
$color_007: #2E8FC5;
$color_008: #FFFFFF;
$color_009: #000000;
$color_010: #E2F4FF;
$color_011: #F4F4F4;
$color_012: #316887;
$color_013: #C33131;
$color_014: #A9A9A9;
$color_015: #797979;
$color_016: #8F8F8F;
$color_017: #272727;
$color_018: #373737;
$color_019: #3A3A3A;
$color_020: #1B5A7D;
$color_021: #606060;
$color_022: #D9D9D9;
$color_022: #ADADAD;
$color_023: #EAEAEA;
$color_024: #BABABA;

$error_color: red;
$warning_color: yellow;
$succes_color: blue;