$color_001: #292D32;
$color_002: #EDA415;
$color_003: #003F62;
$color_004: #292D32;
$color_005: #A5A5A5;
$color_006: #87BCD9;
$color_007: #2E8FC5;
$color_008: #FFFFFF;
$color_009: #000000;
$color_010: #E2F4FF;
$color_011: #F4F4F4;
$color_012: #316887;
$color_013: #C33131;
$color_014: #A9A9A9;
$color_015: #797979;
$color_016: #8F8F8F;
$color_017: #272727;
$color_018: #373737;
$color_019: #3A3A3A;
$color_020: #1B5A7D;
$color_021: #606060;
$color_022: #D9D9D9;
$color_022: #ADADAD;
$color_023: #EAEAEA;
$color_024: #BABABA;
$color_025: #B6B6B6;
$color_026: #85BAD7;
$color_027: #4A4A4A;
$color_028: #D4D4D4;
$color_029: #B3D4E5;
$color_030: #C3C3C3;
$color_031: #232323;
$color_032: #DFDFDF;
$color_033: #AFAFAF;
$color_034: #2F2F2F;
$color_035: #BDBDBD;
$color_036: #F2F2F2;
$color_037: #C0C0C0;
$color_038: #30BD57;
$color_039: #5D5D5D;
$color_040: #D0EC48;
$color_041: #565656;
$color_042: #434343;
$color_043: #EEEEEE;
$color_044: #4F4F4F;
$color_045: #3F3F3F;
$color_046: #1D5F23;
$color_047: #2E56A3;
$color_048: #8131A7;
$color_049: #BC2944;
$color_050: #9BC14C;
$color_051: #ACACAC;

$error_color: #E42424;
$warning_color: yellow;
$succes_color: blue;