@import '../../styles/variables.scss';

.block {
    position: relative;
    width: 100%;

    .scroll {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
        ;
        overflow-y: hidden;
        gap: 16px;


        .slide {
            display: flex;
            justify-content: space-between;
            flex: 0 0 100%;
            height: 394px;
            scroll-snap-align: start;

            .product_info_block {
                margin-left: 12%;
                margin-top: 74px;

                .title,
                .title2 {
                    color: $color_020;
                    margin: 0;
                }

                .title2 {
                    margin-top: 10px;
                }

                .buttons_block {
                    display: flex;
                    max-width: 100%;
                    margin-top: 19px;
                    gap: 1.46vw;
                }
            }

            .product_img_block {
                margin-right: 12.2%;
                margin-top: 37px;
            }
        }
    }

    .dots_block {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        margin-left: 20.56%;
        margin-top: 325px;
        gap: 12px;

        .dot {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 1px solid $color_022;
            background: none;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
            padding: 0;

            &:hover {
                background: $color_002;
                transform: scale(1.2);
            }

            &.active {
                background-color: #000;
            }
        }
    }
}



.track::-webkit-scrollbar {
    display: none;
}