.fz22 {
    font-size: 22px;
}

.fz24 {
    font-size: 24px;
}

.fz25 {
    font-size: 25px;
}

.fz26 {
    font-size: 26px;
}

.fz27 {
    font-size: 27px;
}

.fz28 {
    font-size: 28px;
}

.fz29 {
    font-size: 29px;
}

.fz30 {
    font-size: 30px;
}

.fz32 {
    font-size: 32px;
}

.fz34 {
    font-size: 34px;
}

.fz41 {
    font-size: 41px;
}

.fz43 {
    font-size: 43px;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw600 {
    font-weight: 600;
}

.fw700 {
    font-weight: 700;
}

.fw800 {
    font-weight: 800;
}