@import "../../styles/variables.scss";

.electrons {

    .electron_carousel_block {
        width: 62.6%;

        .carousel_scroll {
            display: flex;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            gap: 10px;
            position: relative;

            &::-webkit-scrollbar {
                display: none;
            }

            article {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                width: 100%;
                height: 505px;
                border-radius: 20px;
                border: 1px solid $color_025;
                overflow: hidden;
                scroll-snap-align: start;
                box-sizing: border-box;
                position: relative;

                .bar_img {
                    width: 345px;
                    height: 380px;
                    object-fit: cover;
                    flex-shrink: 0;
                }

                .bar_info_block {
                    display: flex;
                    flex-direction: column;

                    .block_txt {

                        span {
                            color: $color_003;
                            font-size: 21px;
                            font-weight: 600;
                        }

                        p {
                            color: $color_027;
                            font-size: 17px;
                            font-weight: 600;
                        }
                    }
                }

                .buttons_block {
                    position: absolute;
                    left: 54%;
                    top: 70%;
                    display: flex;
                    gap: 20px;

                    .btn {}

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 70px;
                        height: 60px;
                        border-radius: 20px;
                        background: $color_006;


                    }
                }
            }

            .dots_container {
                position: absolute;
                left: 360px;
                top: 450px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;

                .dot_item {
                    width: 19px;
                    height: 19px;
                    border-radius: 50%;
                    border: 1px solid $color_022;
                    background: none;
                    cursor: pointer;
                    transition: background-color 0.3s ease, transform 0.2s ease;
                    padding: 0;

                    &:hover {
                        background: $color_002;
                        transform: scale(1.2);
                    }

                    &.active {
                        background-color: #000;
                    }
                }
            }
        }
    }

    .track::-webkit-scrollbar {
        display: none;
    }
}

/* 34.24% */