@import '../../../styles/variables.scss';

.brand {

    table {
        display: flex;
        flex-direction: column;
        width: 100%;

        caption {
            display: flex;
            align-items: center;
            padding-left: 5px;
            gap: 11rem;

            span {
                color: $color_003;
                font-weight: 600;
                margin-top: 10px;
            }

            p {
                color: $color_041;
                font-size: 15px;
            }
        }

        tbody {
            display: flex;
            flex-direction: column;

            .select {
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 11rem;

                span {
                    color: $color_031;
                }

                p {
                    color: $color_041;
                }
            }

            .checkbox_block {
                margin-top: -12px;

                td {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    div {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        input[type="checkbox"] {
                            width: 30px;
                            height: 30px;
                            border-radius: 7px;
                            background-color: $color_029;
                            appearance: none;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &:checked {
                                background-color: $color_045;

                                &::after {
                                    content: "";
                                    width: 10px;
                                    height: 10px;
                                    background-image: url(../../../shared/assets/svg/mark_checkbox.svg);
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }
                            }
                        }

                        span {
                            color: $color_031;
                        }
                    }

                    p {
                        color: $color_031;
                        padding-right: 2.7px;
                    }
                }

            }

        }

        hr {
            width: 96.4%;
        }
    }
}