@import '../../styles/variables.scss';

.news_discount {
    max-width: 91.3%;
    min-height: 417px;
    margin: 3.54% 4.3%;
    background-image: url(../../shared/assets/png/news_discount.png);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 20px;

    .news_discount_elements {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 500px;
        margin-right: 7%;

        .btn2 {
            margin-top: 36px;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            .discount_new_txt {
                color: $color_007;
            }

            span {
                color: $color_008;
                font-size: 18px;
            }
        }
    }
}


@media (min-width: 768px) and (max-width: 991px) {

    .news_discount {
        max-width: 91.3%;
        min-height: 417px;
        margin: 3.54% 4.3%;
        background-image: url(../../shared/assets/png/news_discount.png);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-radius: 20px;

        .news_discount_elements {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 500px;
            margin-right: 7%;

            button {
                width: 125px;
                height: 43px;
                font-size: 15px;
            }

            .btn2 {
                margin-top: 36px;

                button {
                    width: 125px;
                    height: 43px;
                    font-size: 15px;
                }
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;

                .discount_new_txt {
                    color: $color_007;
                    font-size: 36px;
                }

                span {
                    color: $color_008;
                    font-size: 16px;
                }
            }
        }
    }
}