@import '../../styles/variables.scss';

.cart {

    .cart_wrap {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 106px;

        .cart_products {
            width: 60.5%;
            height: 463.4px;

            .cart_products_title {
                width: 100%;
                height: 56px;
                background: $color_010;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                gap: 15.5rem;

                span {
                    color: $color_031;
                    font-size: 20px;
                }

                div {
                    display: flex;
                    margin-right: 7.5%;
                    gap: 6rem;

                    p {
                        color: $color_031;
                        font-size: 20px;
                    }
                }
            }

            .cart_product_btns {
                display: flex;
                margin-top: 3.5%;
                gap: 6.4%;

                Button {
                    font-size: 22px;
                    border-radius: 32px;
                }

                .btn {
                    margin-left: 20px;
                }
            }
        }

        .cart_total_form {
            width: 29%;
            height: 485px;
            border: 1px solid $color_030;

            .title {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 56px;
                background: $color_010;

                span {
                    color: $color_031;
                    font-size: 20px;
                }
            }

            .cart_checked_block {

                .subtotal {

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                        span {
                            color: $color_031;
                            font-size: 19px;
                        }

                        p {
                            color: $color_031;
                            font-size: 22px;
                        }
                    }

                    hr {
                        width: 17.7rem;
                        height: 1px;
                        border: none;
                        background-color: $color_033;
                        margin-top: 0;
                    }
                }

                .coupon_code_block {
                    margin-top: 8%;

                    div {
                        width: 17.7rem;
                        height: 54px;
                        border: 1px solid $color_032;
                        border-radius: 20px;
                        overflow: hidden;
                        margin-left: 4.1rem;

                        input {
                            flex: 1;
                            height: 100%;
                            font-size: 16px;
                            border: none;
                            outline: none;
                            padding: 0 23px;
                            border: transparent;
                        }

                        p {
                            color: $color_003;
                            font-size: 14px;
                        }
                    }

                    hr {
                        width: 17.7rem;
                        height: 1px;
                        border: none;
                        background-color: $color_033;
                        margin-left: auto;
                        margin-top: 33px;
                    }
                }

                .select_country_block {
                    margin-top: 33px;

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        width: 17.7rem;
                        height: 54px;
                        border: 1px solid $color_032;
                        border-radius: 20px;
                        margin-left: 4.1rem;
                        gap: 5.5rem;

                        span {
                            color: $color_031;
                            font-size: 16px;
                        }
                    }
                }

                .price_check {

                    margin-top: 18px;

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                        span {
                            color: $color_031;

                        }

                        p {
                            color: $color_031;

                        }
                    }

                    .check_btn {
                        font-size: 20px;
                        border-radius: 32px;
                        margin: 2.5% 10%;
                    }
                }
            }
        }
    }
}