@import "../../styles/variables.scss";

.block {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 65px;

    .nav_buttons {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        width: 100%;
        pointer-events: none;
        z-index: 10;
        transform: translateY(-50%);
        padding: 0 6.3%;

        .nav_btn,
        .nav_btn2 {
            width: 37px;
            height: 37px;
            font-size: 24px;
            border-radius: 50%;
            border: none;
            background: $color_023;
            pointer-events: all;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;

            &:active {
                transform: scale(0.9);
            }
        }

        .nav_btn2 {
            margin-right: 12.6%;
        }
    }

    .scroll {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
        padding: 0 7.6%;
        gap: 39px;

        article {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-around;
            width: 381px;
            height: 147px;
            border: 1px solid $color_005;
            border-radius: 20px;
            box-sizing: border-box;
            cursor: pointer;

            &:nth-child(3n) {
                margin-right: 108px;
            }

            &:last-child {
                margin-right: 0;
            }

            .product_img_block {

                img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .product_info_block {
        display: flex;
        flex-direction: column;
        margin-right: 8px;
        margin-top: 3%;

        span {
            color: $color_020;
            font-size: 23px;
            font-weight: 600;
        }

        p {
            color: $color_020;
            font-size: 18px;
        }
    }
}